 /* .addContact input{
   width: 250px;
} */
/* .addBtn{
    width: 50px;
    height: 37px;
    background-color: ;
    color: whitesmoke;
    border: 1px solid #ffff;
    border-radius: 3px;
    margin-left: -2px;

} */